/* Stylesheet */

body{
	background:black;
	}

header{
	background:yellow;
	}
p, h1{
	font-family: 'Share Tech', sans-serif;
	}
	
h3 {
	text-transform:uppercase;
	}
nav{
	background:orange;
	}
	
blockquote{
	background:green;
	}
	
footer{
	background:red;
	}
	
.container_12{
	background:hotpink;
	}
	